@(page: String, matches: ArrayList[ArrayList[String]], isLoggedIn: Boolean, userInfo: UserInfo)

@import bootstrap3._
@import helper._

@Main(page, isLoggedIn, userInfo) {
   <div class="container">
   <div class="well">
   @helper.form(action = routes.Application.postBook(), 'id -> "myForm") {
   <input class="btn btn-lg btn-danger btn-block" type="submit" value="Book">
     <table class="table table-striped table-bordered">
     <thead>
          <th>Date</th>
          <th>Time</th>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Your choice</th>
     </thead>
     <tbody>
    @for( p <- matches) {
    <tr>
    @for( a <- 0 to 5 ) {
    @if(!p.get(a).contains("?")) {
    <td>@p.get(a)</td>
    }
    }
    <td>
    
    <select class="form-control" name="@p.get(6)">
        <option>None</option>
        <option>Team 1 wins</option>
        <option>Team 2 wins</option>
        <option>Draw</option>
    </select>
    }</td>
    </tr>
    </tbody>
    </table>
     } 
    </div>
   </div>
}
