@(page: String, isLoggedIn: Boolean, userInfo: UserInfo)

@Main(page, isLoggedIn, userInfo) {
   <div class="container">
     <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
       <div class="well">
       <h2>Welcome to Bookmaker Online.</h2>
       <p>This is my project for Java classes. I'm using Play Framework and MySQLDataBase</p>
       <h3>Functionality</h3>
       <p><b>Home page:</b> This page displays a login and register links in the navbar.</p>
       <p><b>Login page:</b> This page displays a login form. You can login to your account.</p>
       <p><b>Register page:</b> This page displays a register form. You can create an account.</p>
       <p><b>Profile page:</b> Displayed only to authenticated users. You can book some matches and check how many books you won.
       The navbar displays the user name and a logout link.</p>
       <p><b>Logout link:</b> Displayed only to authenticated users.   Logs them out. </p>
       <h3>Try it out</h3>
       <p><ul>
          <li>Try to login with some random e-mail and password. There will be an authentication error</li>
          <li>Create an account (you can try to use p-bochene&#64;outlook.com, there is already an account with that mail)</li>
          <li>Login to your profile. Book some matches. Check how many of them you won.</li>
          </ul>
       </p>
       <h3>Pros and cons of this example</h3>
       <p><b>Pros: </b>It's good for showing Play and/or webapp development newbies the basic issues to be 
       addressed in authorization and authentication.  It's a good code base for creating demo systems that
       want to illustrate features available with login vs. without login. It doesn't even require setting up
       a database. The UI, if not amazing, is at least reasonable.</p>
       <p><b>Cons: </b>This system is not production ready. 
       <ol>
       <li> It sends credentials in the clear using 
       http.  A production system must encrypt credentials sent over the wire, typically by using https.</li>
       <li>It stores credentials in the clear.  A production system would store encrypted versions of the 
       credentials so that if the database was hacked, credential data would not be revealed.  
       <li> It does not illustrate the registration process for creating new users, which typically involves
       sending a confirmation email.</li>  
       <li> It does not enable users to login using third party credentials such
       as Google, Yahoo, or Facebook.</li>
       </ol>   
       There are at least two Play plugins that addresses these authentication issues, 
       <a href="http://joscha.github.io/play-authenticate/">Play-Authenticate</a> and
       <a href="http://securesocial.ws/">SecureSocial</a>.
       Another plugin to review if you need more sophisticated forms of authorization in Play is 
       <a href="https://github.com/schaloner/deadbolt-2">DeadBolt 2</a>.
       </div>
       </div>
     </div>
   </div>
}
