@(matches: ArrayList[ArrayList[String]], won: ArrayList[ArrayList[String]], lost: ArrayList[ArrayList[String]], page: String, isLoggedIn: Boolean, userInfo: UserInfo )

@Main(page, isLoggedIn, userInfo) {
   <div class="container">
   <div class="well">
     <p>This is your profile, here you can see your matches:</p>
     <p>Current bets (@matches.size()):</p>
     <table class="table table-striped table-bordered">
     <thead>
          <th>Date</th>
          <th>Time</th>
          <th>Team 1</th>
          <th>Score 1</th>
          <th>Score 2</th>
          <th>Team 2</th>
     </thead>
     <tbody>
    @for( p <- matches) {
    <tr>
    @for( a <- 0 to 5 ) {
    <td>@p.get(a)</td>
    }
    </tr>
    } 
    </tbody>
    </table>
     <p>Won bets (@won.size()):</p>
     <table class="table table-bordered">
     <thead>
          <th>Date</th>
          <th>Time</th>
          <th>Team 1</th>
          <th>Score 1</th>
          <th>Score 2</th>
          <th>Team 2</th>
     </thead>
     <tbody>
    @for( p <- won) {
    <tr class="success">
    @for( a <- 0 to 5 ) {
    <td>@p.get(a)</td>
    }
    </tr>
    } 
    </tbody>
    </table>
     <p>Lost bets (@lost.size()):</p>
      <table class="table table-bordered">
     <thead>
          <th>Date</th>
          <th>Time</th>
          <th>Team 1</th>
          <th>Score 1</th>
          <th>Score 2</th>
          <th>Team 2</th>
     </thead>
     <tbody>
    @for( p <- lost) {
    <tr class="danger">
    @for( a <- 0 to 5 ) {
    <td>@p.get(a)</td>
    }
    </tr>
    } 
    </tbody>
    </table>
     
   </div>
   </div>
}
